<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
<h1>Welcome to my application</h1>
</body>
</html>
<div><h2>Food List</h2></div>
<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Expiration Date</th>
      <th>Calories</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="food:${listFoods}"
          <tr>
            <td>[[${food.id}]]</td>
            <td>[[${food.name}]]</td>
            <td>[[${food.expirationDate}]]</td>
            <td>[[${food.calories}]]</td>
            <td>[[${food.quantity}]]</td>
          </tr>
    </tbody>
  </table>
</div>
</body>
</html>