<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body style = "background-color: #2d2d40">
</body>
</html>
<div class = "container-fluid text-center">
  <div>
    <h2 id="foodListH2">Manage Foods</h2>
  </div>
  <div>
    <table id="foodTable" class = "table table-bordered">
      <thead >
      <tr>
        <th>Name</th>
        <th>Expiration Date</th>
        <th>Calories</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="food:${listFoods}"
            <tr>
              <td>[[${food.name}]]</td>
              <td>[[${food.expirationDate}]]</td>
              <td>[[${food.calories}]]</td>
              <td>[[${food.quantity}]]</td>
              <td>
                <a type="button" class="btn btn-danger" id = "deleteBtn" th:href="@{'/foods/delete/' + ${food.id}}">Delete</a>
              </td>
            </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>